.sidebarchat{
    display:flex;
    align-items:center;
    padding: 20px;
    border-bottom:1px solid #f6f6f6;
    cursor: pointer;
}

.sidebarchat:hover{
    background-color: #ebebeb;
}

.sidebarchat__info{
    margin-left:15px;
}

.sidebarchat__info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarchat__info > p{
    font-size: 13px;
}

.link{
    text-decoration: none;
    color:inherit;
}